doctype html 
html(lang="en")
    head 
        title Errand Author Form 
        link(rel='stylesheet', href='/static/style.css')
    body 
        .dashboard
            .primer 
                h1 Welcome to Errand Author
                p This small app will help you organize your thoughts and plan your days
            include includes/form.pug