form { 
    display: table;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}


label {
    display: table-cell;
}


input {
    display: table-cell;
    margin: 0.5vh 0;
}


.form-section {
    display: table-row;
}


.form-input:invalid {
    border: 3px solid crimson;
}


.form-input::placeholder {
    color: cornsilk;
}


.form-input:required {
    padding-right: 2vw;
    background-color: lightsteelblue;
    color: white;
}