/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

body {
    margin: 0 0;
    padding: 0 0;
}


form { 
    display: table;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}


label {
    display: table-cell;
}


input {
    display: table-cell;
    margin: 0.5vh 0;
}


.form-section {
    display: table-row;
}


.form-input:invalid {
    border: 3px solid #F25467;
}


.form-input::placeholder {
    color: #484538;
}


.form-input:required {
    background-color: #DAE2FB;
}


.dashboard {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.primer {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}


.spreadsheet-form {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/